:root {
  --dark: #000000;
  --light: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button, input, optgroup, select, textarea {
  margin: 3px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  main,
  nav {
    flex-direction: column;
    font-size: small;
  }
  .topnav {
    padding-right: 20px;
    padding-top: 20px;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    font-size: large;
  }
}

@media screen and (max-width: 1024px) {
  main,
  nav {
    flex-direction: column;
    font-size: larger;
  }
}

@media screen and (max-width: 1200px) {
  main,
  nav {
    flex-direction: column;
    font-size: x-large;
  }
}
