form {
    padding-left: 190px;
    display: flex;
}

.post-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.write-box {
    padding-left: 100px;
}