header {
    background: url(../assets/angled_colors.png);
    background-size: 100%;
    background-position: center;
}

.header-container {
    height: 100px;
}


.topnav {
    padding-right: 135px;
    padding-top: 20px;
    float: right;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.title {
    padding-left: 65px;
    padding-top: 20px;
}

.logo {
    height: 22%;
    width: 22%;
    padding-left: 65px;
    object-fit: contain;
}